body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
}
#resumeLink {
    text-decoration: none;
}
#resumeLink:visited {
    text-decoration: none;
    color: inherit;
}
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

/* Stuff links */
.stuff-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stuff-links a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.stuff-links a:hover {
    background-color: #f1f1f1;
}

/* For contact list */
.contact-links {
    display: center;
}

.contact-links a {
    margin-right: 10px;
}


.dark-mode-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode header {
    background-color: #333;
}

.dark-mode button {
    background-color: #444;
}

.dark-mode .tab {
    background-color: #555;
}

.dark-mode .tab button.active {
    background-color: #555;
}

.dark-mode .stuff-links a {
    color: #ff0000;
}